.main-container{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/142/751/831/landscape-anime-digital-art-fantasy-art-wallpaper-preview.jpg");
    height: 100vh;
    background-size: cover;
}
.second-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    background-color: aliceblue;
    width: 100vh;
    padding: 10px;
}
.para{
    font-size: 30px;
}
.imgg{
    height: 250px;
    border-radius: 15px;
}
